<nav>
  <div class="custom-info">
      <span>
          10秒钟定制职位
      </span>
      <a>
          <em class="icon"></em>
          <em class="text">去登录</em>
      </a>
  </div>
</nav>
<main id="main-scroll">
  <ul>
    <li class="head">
        <!-- <img src="http://fe.qfqp5.com:8000/static/images/arrow.png"/> -->
        <img src="http://localhost:8000/static/images/arrow.png"/>
        <span>下拉刷新...</span>
    </li>

    <li class="foot">
        <!-- <img src="http://fe.qfqp5.com:8000/static/images/arrow.png" /> -->
        <img src="http://localhost:8000/static/images/arrow.png" />
        <span>上拉加载...</span>
    </li>
  </ul>
</main>
